* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif, sans-serif;
}

#trybewarts-header-title {
  color: white;
}

.header {
  background-color: #2B2E4A; /* rgb(50, 167, 145); */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
  box-shadow: 3px 1px 7px rgb(5, 5, 5);
  z-index: -1;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  height: 10vh;
  margin: 7px 0;
}

main {
  display: flex;
  justify-content: space-around;
  background: #C5CAE9;
}

#bg {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

#bg img {
  height: auto;
  min-width: 100%;
}

#evaluation-form {
  display: flex;
  width: 50%;
  max-width: 80vw;
  flex-direction: column;
  padding: 3% 0;
  z-index: 2;
}

.conteudo-container {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
}
#trybewarts-forms-logo {
  max-height: 80vh;
  width: 40%;
  z-index: 1;
}

.family {
  display: flex;
  flex-direction: column;
}

.family:nth-of-type( 2 ) {
  width: 60%;
}

.family:nth-of-type( 1 ) {
  width: 40%;
  justify-content: center;
  align-content: space-around;
}

.conteudo-container div {
  min-width: 180px;
  margin-left: 5px;
}

.family:nth-of-type( 1 ) div {
  min-width: 180px;
  margin: 5px;
}

h3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.evaluator {
  display: flex;
  margin: 10px 0;
}

.evaluator input {
  margin: 0 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2B2E4A;
  padding: 10px;
  color: white;
  min-height: 20vh;
}

.section-content.family {
  margin: 5px 0;
}

.section-content:nth-last-of-type(1) {
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: space-around;
}

.line input , #house {
  width: 49%;
}

.textarea {
  display: flex;
  flex-direction: column;
  height: 150px;
  
}

.textarea textarea {
  min-height: 80%;
  max-height: 80%;
  min-width: 100%;
  max-width: 100%;
  background-color: #C5CAE9;
}

.termo {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.termo label {
  margin-right: 5px;
}

.trybewarts-login input {
  width: 200px;
  padding: 7px;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 13px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #E84545;
  transition: all 1s ease-in-out;
  margin: 10px;
}

.trybewarts-login ::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
}

/* referência do botão: https://www.youtube.com/watch?v=EZNc4yRQeK0 */
.botaozinho {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 12px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: white;
  border: 1px solid #E84545;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
}

.botaozinho::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #E84545;
  z-index: -1;
  transition: all 0.7s;
}

.item1::before {
  width: 100%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.item1:hover::before {
  height: 375%;
}


/*formulário*/

#input-name , #input-lastname , #input-email {
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 13px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #2B2E4A;
  transition: all 1s ease-in-out;
  padding: 5px;
}

#house {
  letter-spacing: 1px;
  font-size: 13px;
  border: none;
  color: white;
  background-color: #2B2E4A;
  padding: 5px;
}

#house option {
  letter-spacing: 1px;
  font-size: 13px;
  border: none;
  color: white;
  background-color: #2B2E4A;
  border-bottom: 1px solid #2B2E4A;
  transition: all 1s ease-in-out;
  padding: 5px;
}

/* radio buttons */ 

.inputGroup {
  background-color: #C5CAE9;
  display: block;
  margin: 10px 0;
  position: relative;
  border: 1px solid #2B2E4A;
}

.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #2B2E4A;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.7s ease-in;
  overflow: hidden;
}

.inputGroup label::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #2B2E4A;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 0.7s cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label::after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
  color: #fff;
}

.inputGroup input:checked ~ label::before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked ~ label::after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

/* radio buttons avaliação */

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.avaliacao {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #CFD8DC;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.avaliacao:hover {
  background: #9faab7;
}
.avaliacao:checked {
  background: #40e0d0;
}
.avaliacao:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.avaliacao:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.avaliacao.radio {
  border-radius: 50%;
}
.avaliacao.radio::after {
  border-radius: 50%;
}

.evaluator label {
  display: flex;
  align-items: flex-end;
}

.evaluator {
  display: flex;
  flex-direction: column;
}

.avaliacao-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}